body
    {
        background-color: #0000ff;
    }

    #xscratch
    {
        width: 10%;
    }

    h1
    {
        text-align: center
    }    

    p
    {
        text-align: center;
    }

#missao
{
        font-size: 20px
}

     strong
     {
        color: rgb(0, 4, 255);
     }